.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #59c8e4;
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  color: #ffffff;
  height: 400px;
  width: 100%;
}

.bold {
  font-weight: 700;
}