@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  nav {
    background-color: #4056A1;
    margin-bottom: 2em;
  }

  .compose {
    color: #dfa529;
  }

  .compose:hover,
  .compose:focus {
    color: #59c8e4;
  }

  .page-header {
    /* 120 px to account for fixed nav */
    margin-top: calc(4em + 120px);
    margin-left: 2em;
  }

  main {
    margin-top: calc(3em + 120px);
    margin-right: 2em;
    margin-left: 5em;
  }

  .new-tweet-form {
    margin-top: 1em;
  }

  .icons {
    width:20%;
  }

  .toggle {
    background-color:#59c8e4;
  }

  .toggle:hover,
  .toggle:focus {
    background-color:#dfa529;
  }
}