.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #4056A1;
  color: #ffffff;
  z-index:100;
  height: 120px;
  width: 100%;
  padding: 1.5em;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav p {
  margin: 0;
}

.compose {
  background-color: transparent;
  color: #59c8e4;
  cursor: pointer;
  border: none;
  width: 50%;
}