.new-tweet-form {
  display: none;
}

.tweet-area {
  width: 100%;
  background-color: inherit;
  overflow: hidden;
  border: none;
  border-bottom: 0.2em #545149 solid;
  margin-top: 3%;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}

.btn {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #ffffff;
  font-size: 2.4rem;
  cursor: pointer;
  padding: 1% 3%;
  border: none;
}

/* focus for accessibility selecting */
.btn:hover,
.btn:focus {
  background-color: #dfa529;
}

#counter {
  font-family: 'Bungee', sans-serif;
}

.error-div {
  display: none;
  color: red;
  border: 0.2em solid red;
  padding: 1.5%;
  margin-top: 2%;
}

.error-div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .invisible {
  visibility: hidden;
} */

.error-div p {
  margin: 0 1%;
}

.error {
  color: red;
}