.tweet {
  border: 0.2em #545149 solid;
  margin-top: 1em;
  padding: 1.5em;
}

.tweet:hover,
.tweet:focus {
  box-shadow: 0.6em 0.6em rgb(113, 133, 199);
}

.tweet:hover h4,
.tweet:focus h4 {
  opacity: 1;
}

.tweet:hover .icons,
.tweet:focus .icons {
  z-index: 10;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet header div {
  display: flex;
  align-items: center;
  margin: 0;
}

.tweet img {
  margin-right: 5%;
}

h3, h4, h5 {
  margin:0;
}

h3, h4 {
  font-size: 2.4rem;
  font-weight: 300;
  white-space: nowrap;
}

h4 {
  color: rgb(113, 133, 199);
  opacity: 0;
}

.tweet p {
  font-size: 2.4rem;
  overflow-wrap: break-word;
  border-bottom: 0.2em #545149 solid;
  padding-bottom: 3%;
  margin: 3% 0% 1%;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

h5, .icons {
  font-size: 1.8rem;
  font-weight: 300;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 12%;
  z-index: -10;
}

a {
  color: #4056A1;
}

.icons a:hover,
.icons a:focus {
  color: #dfa529;
}